body {
  color: aliceblue;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255, 255, 255, 0.566), rgba(46, 12, 85, 0.807)),
    url("https://miro.medium.com/v2/resize:fit:1100/format:webp/1*e_Loq49BI4WmN7o9ItTADg.gif");
  background-position: center;
  background-attachment: fixed;
  text-align-last: center;
  padding: 10px;
  cursor: default;
}


