body {
  color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: repeat;
  background-image: linear-gradient(rgba(3, 3, 3, 0.566), rgba(212, 31, 88, 0.506)),
    url("https://i.pinimg.com/originals/d6/d9/38/d6d938615e4e714089e7cadbbc10742a.gif");
  background-position: center;
  background-attachment: fixed;
  text-align: end;
  padding: 10px;
  cursor: default;
}

a{
  color: #ffffff;
}

