body {
  color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: repeat;
  background-image: linear-gradient(rgba(15, 227, 206, 0.691), rgba(0, 0, 0, 0.849)),
    url("https://i.pinimg.com/originals/d6/d9/38/d6d938615e4e714089e7cadbbc10742a.gif");
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
  cursor: default;
}

.box{
  color: #79d313;
  background-color: rgba(255, 255, 255, 0.568);
  width: auto 0;
  height: auto 0;
  border: 2px solid rgb(0, 0, 0);
  font-size: xx-large;
  padding: 20px; 
  margin: 20px; 
}


#searchButton {
  width: 100px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #d7745b; /* Button background color */
  color: rgb(251, 250, 250); /* Button text color */
  border: none; /* Remove default button border */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

#searchButton:hover {
  background-color: #00a7b3; /* Darker background color on hover */

}

/* .boxHouse {
  /* background-image: url(https://i.pinimg.com/originals/f1/be/c8/f1bec81e20d80cd36c82379af920a4e9.gif); */
  /* background-size: 10%;
  background-repeat: no-repeat;
  background-position: left;
  width: 20px;
  height: 20%;  */
/* } */ 

/* .image-button {
  /* color: white; */
  /* text-decoration: none;
  border-radius: 5px; */
  /* background-position: left; */

  /* position: relative; */
  /* top: 0;
  left: 100px; */
  /* display: block;
  
} */


/* .image-button:hover {
  background-color: #ffffff00;
  background-position: 540%;
} */

.image-button img {
  width: 50%;
  height: 0%;
  background-color: #b4779000;
  /* border-radius: 100%; */
}
.image-button, span {
    color: #d2d610;
    font-size: xx-large;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(200, 124, 11, 0.193); */
    padding: 3px 9px;
    border-radius: 15px;
}
